/*.....mapboxgl.....*/
.mapboxgl-popup-content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 190px;
  text-align: left;
  font-size: 16px;
   color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.mapboxgl-popup-content:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mapboxgl-popup-content h4 {
  font-size: 20px;
  margin: 0 0 10px;
}

.mapboxgl-popup-content p {
  margin: 0 0 10px;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: #0077cc;
}

.mapboxgl-popup-content a:hover {
  text-decoration: underline;
  color: #005299;
}


.mapboxgl-popup-content .close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px; 
  color: #999;
  cursor: pointer;
  transition: color 0.3s;
}


/* Card Component Styling */
.card {
  width: 150px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup {
  z-index: 80;
}

.labelplace,
.labelReview,
.labelRating,
.labelInfo {
  font-size: medium;
  color: blue;
  cursor: pointer;
  transition: text-decoration 0.3s, color 0.3s;
}

.labelplace:hover,
.labelReview:hover,
.labelRating:hover,
.labelInfo:hover {
  /* text-decoration-line: underline; */
  color: darkblue;
}

.desc,
.username {
  font-size: 15px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

.form {
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
  padding: 10px;
  /* background-color: #f9f9f9; */
}

input {
  border: none;

}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  /* color: rgb(185, 184, 184); */
}
.title {
   color: blue;
   margin-bottom: 10px;
}

.Description{
  margin-top: 10px;
  color: blue;
}

.newRating {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.newRating select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  
}

.newRating select::placeholder {
  color: #999;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
  margin-top: 10px;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(54, 145, 22);
  font-weight: 500;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.logout{
  background-color: tomato;
}

.login{
  background-color: teal;
  color: white;
  margin-right: 10px;
}

.register{
  background-color: slateblue;
  color: white;
}
.mapboxgl-popup-close-button{
  font-size: 25px;
  border: 1px solid #000;
}
.logoutbutton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: teal;
  color:white;
  /* color: rgb(54, 145, 22); */
  font-weight: 500;
  cursor: pointer;
 
}

.button.collections{

  border: none;
  padding: 5px;
  border-radius: 5px;
  color:white;
  /* color: rgb(54, 145, 22); */
  background-color: slateblue;
  font-weight: 500;
  cursor: pointer; 
  margin-right:10px;

}

.helpbutton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color:white;
  /* color: rgb(54, 145, 22); */
  background-color:  rgb(205,105,89);
  font-weight: 500;
  cursor: pointer; 
  margin-right:10px;

}


